:root {
  --textoCabecera: #rgb(17, 17, 17);
  --fuenteCabecera: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
    Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
}

html {
  /*Agregando Hack para resetear el valor de la unidad rem de 16px a 10px por rem*/
  font-size: 62.5%;

  /*Agregando Hack para dar solución al Modelo de Caja*/
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  /*Segunda parte del hack para resetear la unidad em*/
  font-size: 16px;
}

/*Ajustando ancho y alto del header*/
header {
  height: 8rem;
  width: 100%;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  padding-bottom: 1.6rem;
  padding-top: 1.6rem;
}

/*Retirando el under_line los enlaces del header*/
header a {
  text-decoration: none;
}

header nav ul {
  list-style-type: none;
}

/*Centrando los enlaces dentro de los li*/
header nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Definiendo estilos al titulo principal*/
header div.logo-container a.logo h1.titulo-principal {
  color: #cc0000;
  font-family: var(--fuenteCabecera);
  font-size: 2rem;
  font-weight: 600;

  margin-top: 0;
  margin-bottom: 0;
}

/*Definiendo estiloss los enlaces de la navegación principal*/
header nav.navegacion-principal a.ng-item {
  color: var(--textoCabecera);
  font-family: var(--fuenteCabecera);
  font-weight: 600;
}

/*Agregando Pseudo clase a los elementos de la navegación principal*/
header nav.navegacion-principal a.ng-item:hover {
  text-decoration: none;
}

/*
Estilos para los botones de:
- Iniciar Sesión
- Registrate  
*/
nav.navegacion-principal .boton {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2.4rem;
  width: 10.5rem;
  height: 4.8rem;
  padding: 1.2rem 1.6rem;
}

/*Agregando estilos a cada boton de forma individual*/

/*Boton SESIÓN*/
.bt-sesion {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #efefef;
  border-radius: 2.4rem;
  width: 13rem;
  height: 4.8rem;

  margin-right: 1.2rem;
  margin-left: 0.8rem;
}

.bt-sesion a.ng-item {
  color: rgb(17, 17, 17);
  font-size: 1.6rem;
  text-align: center;
}

/*Boton REGISTRO*/
.bt-registro {
  color: #ffff;
  background-color: #e60023;
}
.bt-registro a.ng-item {
  text-align: center;
}

/*Agregando efecto de sombrado al pasar por encima de los botones*/
.bg-boton-registro {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2.4rem;
  width: 10.5rem;
  height: 4.8rem;
  padding: 1.2rem 1.6rem;
}

.bg-boton-sesion {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2.4rem;
  width: 13rem;
  height: 4.8rem;
  padding: 1.2rem 1.6rem;
}

.bg-boton-sesion:hover {
  background-color: rgba(17, 17, 17, 0.1);
  transition: all 85ms ease-out;
  cursor: pointer;
}

.bg-boton-registro:hover {
  background-color: rgba(17, 17, 17, 0.1);
  transition: all 85ms ease-out;
  cursor: pointer;
}

/*Añadiendo Pseudo clases a los botones de Inciar Sesión y Registro*/
.bt-sesion a.ng-item:hover {
  text-decoration: none;
}
.bt-registro a.ng-item:hover {
  text-decoration: none;
}

/*Alineando elementos de la cabecera*/
.logo {
  display: inline-block;
}

.logo-container .logo {
  display: flex;
  justify-content: center;
  margin-left: 1rem;
}

.logo-container {
  margin-top: 0;
  margin-bottom: 0;
}

.titulo-principal {
  margin-left: 0.4rem;
}

.navegacion-principal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.cabecera {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*Agregando efecto hover al los elementos HOY y EXPLORAR*/
.bg-hoy {
  padding: 0.8rem;
  border-radius: 0.8rem;

  margin-left: 0.8rem;
  margin-right: 0.8rem;
}

.bg-explorar {
  padding: 0.8rem;
  border-radius: 0.8rem;

  margin-left: 0.8rem;
  margin-right: 0.8rem;
}

.bg-hoy:hover {
  background-color: rgba(17, 17, 17, 0.1);
  cursor: pointer;
}
.bg-explorar:hover {
  background-color: rgba(17, 17, 17, 0.1);
  cursor: pointer;
}

/*Definiedo estilos a los elementos de la sección principal*/
h2.home-title {
  color: rgb(33, 25, 34);
  margin: 0.2rem;
  font-size: 6rem;
  font-weight: 600;
  font-family: var(--fuenteCabecera);
  text-align: center;
}

.bg-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 2.4rem;
  width: 2.4rem;
  border-radius: 50%;
}

.bg-icon:hover {
  background-color: rgba(17, 17, 17, 0.1);
  cursor: pointer;
}

.bg-boton-icon-item {
  margin-top: 1.2rem;
  margin-left: 1.2rem;
  margin-bottom: 1.2rem;
}

/*Definiendo estilos a la barra de busqueda*/

.search-frame {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130rem;
  height: 4.8rem;
  border: 0.2rem solid #cdcdcd;
  border-radius: 2.4rem;

  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

.search-bar {
  display: block;
  background-color: transparent;
  width: 100%;
  height: 100%;

  /*Tipografia de la barra de busqueda*/
  font-family: var(--fuenteCabecera);
  font-size: 1.6rem;

  /*Estilizando la barra de busqueda*/
  border: none;
  outline: none;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: 0.8rem;
  margin-left: 1.6rem;
}

.menu-left {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.menu-right {
  display: flex;
  justify-content: space-between;
}

/*
Dando estilso al boton down-aarow-icon de la navegacionprincipal
*/

/*
p.marquee-text {
  position: absolute;
  font-size: 6rem;
  font-weight: 600;
  text-align: center;
  width: 100%;
  font-family: var(--fuenteCabecera);
}
*/

/*Definiendo color a los parrafos*/
/*
p.text-blue {
  color: rgb(0, 118, 211);
}

p.text-green {
  color: rgb(97, 140, 123);
}

p.text-brown {
  color: rgb(194, 139, 0);
}

p.text-strong-green {
  color: rgb(64, 122, 87);
}
*/

/*Añadiendo Animaciones a los parrafos*/
/*
.text-animation {
  animation: animation-paragraph 8s linear 1s infinite backwards;
}
*/

/*Seleccionando cada elemento html con la clase .text-animation por indice*/
/*
.text-animation:nth-child(1) {
  animation-delay: 0s;
  opacity: 0;
}
.text-animation:nth-child(2) {
  animation-delay: 2s;
  opacity: 0;
}
.text-animation:nth-child(3) {
  animation-delay: 4s;
  opacity: 0;
}
.text-animation:nth-child(4) {
  animation-delay: 6s;
  opacity: 0;
}
*/

/*Los KeyFrames permiten controlar el flujo de la animación*/
/*
@keyframes animation-paragraph {
  0% {
    opacity: 0;
    transform: translateY(0rem);
  }
  2.5%,
  25% {
    opacity: 1;
    transform: translateY(-8rem);
  }

  27.5%,
  100% {
    opacity: 0;
    transform: translateY(8rem);
  }
}
*/

/*
Agregando alineación  al elemento h2 y p
*/
/*
.text-ideas {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 4.8rem;
}
*/

/*Añadiendo estilos al boton de flecha flotante*/
/*
div.bg-boton-flotante {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.8rem;
  height: 4.8rem;
  margin-bottom: 1.6rem;
  border-radius: 50%;
  background-color: black;
}
*/

/*
div.bg-alignment {
  display: flex;
  justify-content: center;
}
*/

/*
Estructurando la navegacion de las imagenes y texto animados
*/

/*Agregando separación superior (top) al main*/
main {
  margin-top: 3rem;
}

/*
.boton-menu {
  height: 6rem;
  width: 65%;
  margin-top: 10rem;
  margin-left: auto;
  margin-right: auto;
}

.menu-flotante {
  display: flex;
  justify-content: center;
}
*/

/*
.menu-item {
  list-style-type: none;
  padding: 0;
}

.boton-circle {
  display: inline-block;
  padding: 0.5rem;
  height: 1rem;
  border-radius: 5rem;
  margin: 0.6rem;
  outline: none;
  border-style: none;
}
*/

/*Agregando Pseudoclase a los elementos .boton-circle*/
/*
.boton-circle:hover {
  cursor: pointer;
}
*/

/* Agregando estilos al menu inferiore de la pagina*/

/*
.bottom-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 253, 146);
  width: 100%;
  height: 6rem;
  padding-bottom: 0;
  padding-top: 0;
}
*/

/*
.bottom-item-text {
  text-decoration: none;
  font-family: var(--fuenteCabecera);
  font-size: 1.6rem;
  color: var(--textoCabecera);
  font-weight: 600;
  text-align: center;
}
*/

/*trabajando con las imagenes*/
.card-image {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 2.8rem;
  object-fit: cover;
}

.card-container {
  position: relative;
  display: inline-block;
  width: 25rem;
  height: 35rem;
  border-radius: 2.8rem;
}

/*Agregando efecto de sombreado a las imagenes*/
.bg-card {
  position: absolute;
  z-index: 1;
  width: 25rem;
  height: 35rem;
  border-radius: 2.8rem;
}

.bg-card:hover {
  background: rgba(5, 7, 12, 0.75);
  cursor: pointer;
}

/*Agregando diseño GRID*/
.images-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 1.6rem;
}
