
:root {
    --textoCabecera: #rgb(17, 17, 17);
    --fuenteCabecera: apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    
}

html {

    /*Agregando Hack para resetear el valor de la unidad rem de 16px a 10px por rem*/
    font-size: 62.5%;
    
    /*Agregando Hack para dar solución al Modelo de Caja*/
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    /*Segunda parte del hack para resetear la unidad em*/
    font-size: 16px;
}


/*Retirando el under_line los enlaces del header*/
header a {
    text-decoration: none;
}

header nav ul {
    list-style-type: none;
    
}

/*Definiendo estilos al titulo principal*/
header div.logo-container a.logo h1.titulo-principal {
    color: #cc0000;
    font-family: var(--fuenteCabecera);
    font-size: 2rem;
    font-weight: 600;
}


/*Definiendo estilos s los enlaces de la navegación principal*/
header nav.navegacion-principal ul.nv-container li.ul-item a.ng-item {
    color: var(--textoCabecera);
    font-family: var(--fuenteCabecera);
    font-weight: 600;
}

/*Agregando Pseudo clase a los elementos de la navegación principal*/
header nav.navegacion-principal ul.nv-container li.ul-item a.ng-item:hover {
    text-decoration: underline;
    transition: all 85ms ease-out;
}

/*
Estilos para los botones de
- Iniciar Sesión
- Registrate  
*/
header nav.navegacion-principal ul.nv-container li.boton {
    border-radius: 2.4rem;
    min-width: 6rem;
    min-height: 4rem;
}

/*Agregando estilos a cada boton de forma individual*/
.bt-sesion{
    background-color: #e60023;
}
header nav.navegacion-principal ul.nv-container li.bt-sesion a.ng-item {
    color: #ffffff;
    text-align: center;
}

.bt-registro{
    background-color: #efefef;

}
header nav.navegacion-principal ul.nv-container li.bt-registro a.ng-item {
    text-align: center;
}



